/* 回顶部 */
.scroll-to-top {
  display: none;
  width: 70px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background-color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  bottom: 2%;
  position: fixed;
  right: 15px;
  z-index: 999;
  border-radius: 3px;
  font-size: 14px;
  transition: all 0.3s ease;
}
.scroll-to-top:hover {
  opacity: .8;
  background-color: #555;
}