/*
 * comment.css
 * 作用：评论相关样式，如 .comment-list、.comment-meta、.comment-author、.comment-awaiting-moderation、.respond、#comment-form、button.submit、textarea.textarea、.comment-content、.comment .children 等
 */
/* 评论相关样式 */
.comment-list,
.comment-list ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment-list {
    margin-top: -1px;
}

.comment-list li {
    padding: 22px 0 0;
    border-top: 1px solid #ddd;
}

.comment-list li.comment-level-even {
    background: #FFF;
}

.comment-list li .reply {
    float: right;
    margin-top: -39px;
    font-size: .92857em;
}

.comment-meta a {
    color: #999;
    font-size: .92857em;
}

.comment-author {
    display: block;
    margin-bottom: 3px;
    color: #444;
}

.comment-author .avatar {
    float: left;
    margin: 1px 10px 0 0;
    border: 1px solid #ddd;
    padding: 1px;
}

.comment-author cite {
    font-weight: bold;
    font-style: normal;
    line-height: 1.2;
}

.comment-awaiting-moderation {
    font-style: normal;
    float: right;
    margin-top: -20px;
    color: #777;
}

.comment-list .respond {
    margin: 15px 0;
    border-top: 1px solid #ddd;
}

.comment-body .respond {
    border: none;
    margin: 0 0 25px;
}

.respond .cancel-comment-reply {
    float: right;
    margin-top: 15px;
    font-size: .92857em;
}

.comment .children {
    list-style-type: none;
}

#comment-form {
    padding-top: 5px;
}

#comment-form p {
    margin: 12px 0;
}

#comment-form label {
    color: #888;
}

#comment-form .comment-form-author input,
#comment-form .comment-form-email input,
#comment-form .comment-form-url input,
#comment-form .comment-form-comment textarea {
    border: solid 1px #D4D4D4;
    background: #fdfdfd;
    color: #555;
    display: block;
    width: 100%;
    margin-top: 4px;
}

#comment-form .comment-form-author,
#comment-form .comment-form-email {
    width: calc(50% - 12px);
    float: left;
}

#comment-form .comment-form-email {
    margin-left: 24px;
}

#comment-form .comment-form-comment {
    margin-bottom: 0;
}

button.submit {
    border: 1px solid #272727;
    display: block;
    line-height: 32px;
    width: 100%;
    outline: none;
    color: #fff;
    background: #272727;
    height: 38px;
}

button.submit:hover {
    background: #505050;
    border-color: #505050;
}

textarea.textarea {
    width: 100%;
    height: 174px;
    padding: 10px;
    overflow: auto;
    margin: 0;
    line-height: 1.8;
    font-size: 14px;
    background: #fdfdfd !important;
    color: #555;
} 