/*
 * sidebar.css
 * 作用：侧边栏相关样式，如 .col2、.widget、.widget-title、#response、.widget ul、.widget ul li 等
 */
.col2 p, .col1 p {
    margin: 9px 0;
}

.col1 p {
    margin-right: 220px;
}

.col1 {
    margin-right: -220px;
    height: auto;
    float: left;
    width: 100%;
    position: relative;
    background-position: 0 0;
}

.col2 {
    width: 204px;
    float: right;
    position: relative;
    overflow: hidden;
    background-position: right top;
}

.widget {
    margin-bottom: 30px;
}

.widget-title {
    color: #6E7173;
    line-height: 2.7;
    margin-top: 0;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    display: block;
}

#response {
    margin-bottom: .8em;
}

.widget ul {
    list-style: none;
    padding: 0;
}

.widget ul li {
    margin: 5px 0;
    line-height: 1.5;
}

/* 归档小工具样式优化 - 确保年月格式对齐显示
 * 通过统一宽度和文本对齐方式，使归档列表在视觉上更加整齐
 */
.widget_archive ul li a {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.widget_archive ul li a:hover {
    text-decoration: underline;
}