/*
主题名称: Maupassant
原作者: cho，移植：sdg32
重构者: Claude 3.7
重构时间: 2025年
描述: 一个简洁的 WordPress 主题，已重构为模块化CSS结构，便于维护和扩展。
测试环境: WordPress 5.6
最低 PHP 版本: 5.6
版本: 1.2（重构版）
许可证: MIT License
许可证链接: https://opensource.org/licenses/MIT
标签: 博客, 双栏, 右侧边栏, 自定义背景, 自定义菜单, 编辑器样式, 置顶文章, 线程评论, 支持翻译, 模块化CSS
文本域: maupassant
*/
@import url("css/base.css");
@import url("css/layout.css");
@import url("css/header.css");
@import url("css/site-logo.css");
@import url("css/footer.css");
@import url("css/post.css");
@import url("css/sidebar.css");
@import url("css/comment.css");
@import url("css/pagination.css");
@import url("css/responsive.css");